[2019-11-01 04:06] Asif-chohan opened #1 "Integrate QuickBlox with react native"
I'm trying to use quickblox with react-native. The user has been successfully created and connected to QB.chat. But when I create a dialog as:

QB.chat
      .createDialog({
        type: QB.chat.DIALOG_TYPE.CHAT,
        name: "new dialog",
        occupantsIds: [99125620]
      })
      .then(function(dialog) {
        console.log(dialog);
        // handle as necessary, i.e.
        // subscrib

[2019-11-05 10:21] ghost commented on #1
Hello @Asif-chohan

Thank you for contacting QuickBlox support.

Have you tried to reproduce the reported behavior on clear QB ReactNative sample?

Have you tried to create a dialog using QB ReactNative documentation? - https://docs.quickblox.com/docs/react-native-chat#section--create-a-new-dialog-

Does the reported issue reproduce only while the creation of 1-1 chat? Or for group and public chat

[2019-11-11 15:07] ghost commented on #1
Hello @Asif-chohan

Unfortunately, I haven't received any feedback from you.
The status of the ticket changed to "Closed".

Please, re-open this ticket if the issue is still actual for you.

[2019-11-11 15:07] #1 closed, assigned to nobody

[2019-11-27 14:27] Saumyadip-Pramanik opened #2 "QB.chat.getDialogMessages markAsRead not updating dialogs in Android"
The query parameter 'markAsRead=true' in QB.chat.getDialogMessages method is supposed to update the unread message count received in QB.chat.getDialogs method. Which is working properly in iOS. However, it is not updating the value in Android. Tested in both emulator and physical device.

React Native Version: 0.61.4

[2019-11-28 10:32] ghost commented on #2
Hello @Saumyadip-Pramanik

Thank you for contacting QuickBlox support.

Have you tried to reproduce the reported behavior on clear QB sample?

Looking forward to your reply.

[2019-11-28 11:32] Saumyadip-Pramanik commented on #2
Hi @QB-vladyslav-vyshniak,

Thank you for quick reply, I have not verified the behavior by running the sample but I have gone through the code, as per my understanding from the documentation in official site of QB, the markAsRead key is responsible for marking all messages read, as I am not using the individual message read functionality. So once the above flag is true, getDialogs method should re

[2019-12-12 16:00] ghost commented on #2
Hello @Saumyadip-Pramanik

Take my apologies for the delay in reply.

The developers have fixed the reported behavior and currently all works as expected with the latest ReactNative SDK version.
Please proceed with the update: https://github.com/QuickBlox/quickblox-react-native-sdk/releases/tag/0.4.11-beta

Let me know if you have any additional questions.

[2019-12-25 15:36] #2 closed, assigned to nobody

[2020-01-03 11:36] Saumyadip-Pramanik opened #3 "Chat dialog is getting swapped"
React Native: 0.61.4
QB: quickblox-react-native-sdk/releases/tag/0.4.11-beta

The sender_id and receiver_id in a chat dialog are getting swapped in one to one chat.
The behavior is not consistent but randomly appearing.
Method: ".getDialogMessages"

Please check the attached log for details, here recipient id and sender id are coming the same. which is received on calling ".createDialog"

<img wid

[2020-01-08 10:42] ghost commented on #3
Hello @Saumyadip-Pramanik

Thank you for contacting QuickBlox support.

As I have already mentioned in QuickBlox support portal ticket, the developers are investigating the reasons of the reported behavior.
I will let you know as soon as they provide me with any updates.

[2020-01-08 11:44] Saumyadip-Pramanik commented on #3
@QB-vladyslav-vyshniak thanks!
You can find the dialogId in above log screenshot.

[2020-01-09 11:03] Saumyadip-Pramanik opened #4 "User image not available in QB.getDialogs method."
React-Native: 0.61.4
QB: 0.4.11-beta

Unable to show user images in the dialog list screen.

Logs:
{"dialogs": [{"createdAt": "2020-01-06T15:14:08Z", "id": "5e134ec0a28f9a14cc9fe3ba", "isJoined": true, "lastMessage": "Hay", "lastMessageDateSent": 1578499188000, "lastMessageUserId": 102069823, "name": "Saumyadip Pramanik", "occupantsIds": [Array], "type": 3, "unreadMessagesCount": 0, "updatedAt": "

[2020-01-14 10:22] Saumyadip-Pramanik opened #5 "Push Notification is not delivered."
React-Native: 0.61.4
QB: 0.4.11-beta

Hi QB Team,

I have configured the push notification setting in my QB panel but, the notification is not coming in the device. I have also checked the Server Key and SSL configuration in my end, the notification is being delivered from Firebase console.

I have also informed this to QB-vladyslav-vyshniak in our one to one communication. Please review.

[2020-01-20 15:40] ghost commented on #5
Hello @Saumyadip-Pramanik

Thank you for contacting QuickBlox support.

Please, be notified, that we have discussed only the ticket #146282 / https://github.com/QuickBlox/quickblox-react-native-sdk/issues/3

Could you provide me with the answers to the following questions.
1. Does APNS work as expected?
2. Have you tried to send a notification via your QuickBlox admin panel? Did it work?

Looking

[2020-01-20 15:43] ghost commented on #3
Hello @Saumyadip-Pramanik

To speed up the investigation process, provide me with the following points:
1. The detailed reproducing steps.
2. The detailed logs (logs should be collected right from the start of application working)
3. Video confirmation.
4. Have you made the request according to QuickBlox ReactNative documentation? - https://docs.quickblox.com/docs/react-native-chat#section-chat-hi

[2020-01-20 16:27] ghost commented on #4
Hello @Saumyadip-Pramanik

Please provide reproducing steps for this issue.

Have you tried to reproduce the same with our official sample?

https://github.com/QuickBlox/quickblox-react-native-samples/tree/master/chat-sample

[2020-01-30 08:24] #5 closed, assigned to nobody

[2020-01-30 08:27] ghost commented on #4
Hello @Saumyadip-Pramanik

The status of the ticket changed to "Closed" due to the absence of a reply from you.

If this ticket is still relevant for you - re-open it and provide me with the requested information.

[2020-01-30 08:27] #4 closed, assigned to nobody

[2020-01-30 08:27] ghost commented on #3
Hello @Saumyadip-Pramanik

The status of the ticket changed to "Closed" due to the absence of a reply from you.

If this ticket is still relevant for you - re-open it and provide me with the requested information.

[2020-01-30 08:27] #3 closed, assigned to nobody

[2020-02-17 12:15] aravi365 opened #6 "CocoaPods could not find compatible versions for pod "quickblox-react-native-sdk""
UNABLE TO INSTALL FROM PODFILE

CocoaPods could not find compatible versions for pod "quickblox-react-native-sdk"
In Podfile:    quickblox-react-native-sdk (from `../node_modules/quickblox-react-native-sdk`)

Specs satisfying the `quickblox-react-native-sdk (from `../node_modules/quickblox-react-native-sdk`)` dependency were found, but they required a higher minimum deployment target.
<img width="

[2020-02-17 13:09] ghost commented on #6
Hello @aravi365

Try to use the following step by step instruction https://blog.quickblox.com/getting-started-with-quickblox-react-native-sdk/ and let me know if the reported issue occurs again.

[2020-02-17 13:12] aravi365 commented on #6
Yes, followed the instructions. Tried to install on a new react native project version 0.61.5 and version 0.59 . Both failed with pods. Tried linking using react-native link and it worked a bit, but not fully!

[2020-02-17 14:51] ghost commented on #6
@aravi365

The reported issue occurs due to the incorrectly filled IOS version in the parameter 'platform' in ios/Podfile.
There you should specify IOS version which couldn't be less than 10.0.

Find the minimum system requirements below:
iOS 10
Android (minimum API version 14)
React Native (minimum version 0.60)

https://docs.quickblox.com/docs/react-native-setup#section-minimum-system-requiremen

[2020-02-17 18:28] aravi365 commented on #6
Can you please elaborate so that i can have a clear idea ??

This is what i have done:
1. Start a fresh react native project (0.61.5)
2. yarn add quickblox-react-native-sdk
3. Open ios folder and then pod install
..and then this error occurred.

[2020-02-18 09:34] ghost commented on #6
@aravi365

Please take a look at QuickBlox ReactNative Setup guidance carefully and proceed with the right installation on your side:
https://docs.quickblox.com/docs/react-native-setup

[2020-02-19 09:06] aravi365 commented on #6
Also, there is no documentation for configuring react native projects below 0.60. Can you please update your documentation with separate installation procedure and guidelines for 0.60 and below and above.

[2020-02-19 12:24] ghost commented on #6
@aravi365 it is better to always use the latest stable version of React Native SDK because it contains fixes and improvements. So I'm not sure if guidelines are needed for outdated versions.

[2020-02-20 09:05] ghost commented on #6
@aravi365 Do you have any additional questions or the ticket could be closed?

[2020-02-20 09:37] aravi365 commented on #6
Since the library is totally new and has only less documentation, i decided to go with some other. Thanks for your time and help.

[2020-02-20 10:27] tiwari4github commented on #6
i got the same error, but there is no error in their sample project

[2020-02-20 10:51] tiwari4github commented on #6
@aravi365 i made a POC with chat , video call , all running fine, if you are using there downloaded sample. but you cant install pod in a new project.
@QB-vladyslav-vyshniak ?

[2020-02-24 04:53] tiwari4github commented on #6
i found the solution.
set cocoa pod deployment target to 10.0 instead of 9.0.
it will work.

platform :ios, '10.0'

[2020-02-24 08:47] ghost commented on #6
@tiwari4github yes, you are right, recently I have updated my comment and mentioned there the minimum system requirements for IOS, Android and ReactNative.

Comment: https://github.com/QuickBlox/quickblox-react-native-sdk/issues/6#issuecomment-587029788

I think the issue could be closed.

[2020-02-24 10:20] aravi365 commented on #6
Can you please update the Readme ??

[2020-02-24 10:20] #6 closed, assigned to nobody

[2020-03-11 11:08] russelRajitha opened #7 "is there a way to make call when app is closed?"
is there a way to make call when app is closed? currently everything works fine when app is minimized. but when app is in closed status incoming calls are not appears.

[2020-04-06 19:40] Gusakovskyi opened #8 "Update message by id"
HI!
Is it possible to update a specific message from dialog?
Documentation does not contains an info about it...

[2020-04-10 14:10] ghost commented on #8
Hello @Gusakovskyi

Currently such functionality is absent in QuickBlox React Native SDK, but the developers are planned to implement it in the future, unfortunately ETA is undefined.

Let me know if you have any additional questions.

[2020-04-10 15:50] russelRajitha opened #9 "error while getting current session on android"
I am using latest react native version and when i was tryning to check current session app is getting crashed. Here is the log

`2020-04-10 21:14:11.118 5874-5989/com.fresh E/unknown:ReactNative: Exception in native call
    java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String com.quickblox.auth.session.QBSession.getToken()' on a null object reference
        at com.q

[2020-04-28 20:00] erikfenriz opened #10 "method not a function issue [solved] – delete the issue"
[delete the issue]

[2020-04-29 10:20] codepoetryindia opened #11 "Not able to create user and login"
Not able to create user and login. only one message is coming Unauthorised. it was working properly last night please check the issue

[2020-04-29 12:35] #11 closed, assigned to nobody

[2020-05-01 13:03] #10 closed, assigned to nobody

[2020-05-08 09:59] #8 closed, assigned to nobody

[2020-05-08 10:08] Gusakovskyi opened #12 "Unable to join multiple dialogs"
After retrieving a list of dialogs i am trying to join each of them in loop. But only first join is successful and others return error:
`You are already joined to the dialog`

As result, i cannot retrieve events from that dialogs. And when try to send a message to one of them - it delivered to that one, i was joined.

Before join i perform:
1. QB.settings.init()
2. QB.settings.enableAutoReconnect(

[2020-05-11 05:06] HarshitPKing commented on #7
I am facing the same issue in the latest SDK.

[2020-05-13 21:31] kasterlod opened #13 "Possibility to connect to the chat with existing session token"
### Hello!

Short context:
**We're using QB on the web and connecting in that way:**
    `QB.chat.connect({ jid: <jid>, password: <sessionToken> })`

**Why?**
Users are created on backend side, and we don't want to send passwords to front end layer.

### QUESTION
Is it possible to do the same way with this SDK? If not, what period of time can be expected to do this?

lots of greetings!

[2020-05-20 20:37] Trosdan commented on #7
Im using the PushNotification to init que webrtc module.

[2020-05-20 20:52] jpgarcia99 commented on #7
Would you know if there is sample code on how to do that?  Thanks!

Sent from my iPhone

[2020-05-22 04:41] kimivn opened #14 "Error Call API"
I have a new issue when use call api
 **You have to be logged in in order to use Chat API**
. Before I inited appSettings and login Users successfully and get data user. I don't why i use a call api but error in Chat Api

Please help me.

[2020-05-26 06:08] sagar-chhatrola opened #15 "CocoaPods could not find compatible versions for pod "quickblox-react-native-sdk""
Pod install failed.

`[!] CocoaPods could not find compatible versions for pod "quickblox-react-native-sdk":
  In Podfile:
    quickblox-react-native-sdk (from `../node_modules/quickblox-react-native-sdk`)

Specs satisfying the `quickblox-react-native-sdk (from `../node_modules/quickblox-react-native-sdk`)` dependency were found, but they required a higher minimum deployment `target.``

[2020-05-27 12:19] Trosdan commented on #7
When the user A start the call he send a notification using the QuickBlox PushNotification

[code]
When user B receives a notification and his application is closed or Background is tested if the notification is a VOIP push, if true, the webrtc module will be initialized

[code]

I'm using the Firebase Cloud Message to get the FCM token and run the script in background and QuickBlox to persist the

[2020-05-28 14:26] ghost commented on #9
Hello @russelRajitha

Try to reproduce the reported behavior on clear QuickBlox ReactNative sample: https://github.com/QuickBlox/quickblox-react-native-samples/

If the reported behavior reproduces there, provide me with the detailed reproducing steps and full logs from application launching till the issue occurs (error code should be included).

Looking forward to your reply.

[2020-06-05 18:52] proswe opened #16 "how to delete a qb user in rn quicklbox"

[2020-06-09 13:03] amir-gorji opened #17 "TypeError: Cannot read property 'addListener' of undefined (on iOS)"
I use quickblox-react-native-sdk@0.5.2-beta as a service for video calling and chatting.
It runs fine on android , but when I run on iOS, it brings up an error.

I searched all my code several times, I added all the iOS pods of the quickblox-samples but the problem persists.
I edited the `${project_directory}/node_modules/quickblox-react-native-sdk/index.js` line 639:
`addListener: Chat.addListene

[2020-07-16 11:47] sfanil opened #18 "Error while getting dialogs list from QuickBlox in React Native"
I'm trying to use quickblox with react-native. The user has been successfully created and connected to QB.chat. But when I want to get list of all dialogs as:

fetchChatList = async() =>{
        try{
            QB.chat
            .getDialogs()
            .then(function (result) {
                // result.dialogs - array of dialogs found
                // result.skip - number of items skipped

[2020-07-16 13:00] sfanil commented on #18
Solved the issue by passing limit param.
Now it's like this
QB.chat
.getDialogs({limit:10})

[2020-07-16 13:00] #18 closed, assigned to nobody

[2020-08-16 20:22] medghazdali opened #19 "my app crashes when its receive notification"
when i send notification from admin panel  my app crashes , or from user to user like call when the app in background.
any help please or idea ? thank you

[2020-08-18 19:59] Trosdan opened #20 "RTCView: problem when use height and width"
![Screenshot_20200818-164414](https://user-images.githubusercontent.com/27647447/90559064-76de7300-e173-11ea-9c90-3019da9cae1c.jpg)

Using the ''RTCView" component in my application to videos  calls and the whole screen went black.

Its happens when an I put the height and width.

### CallScreen.js
[code]
### package.json
[code]

[2020-08-19 14:57] Trosdan commented on #20
Work fine when add a new View with this property `overflow: 'hidden'`

[code]

[2020-08-20 22:47] #20 closed, assigned to nobody

[2020-09-02 18:45] bhoomika-sorathiya opened #21 "WebRTCView is not cover full space in iOS"
Thanks for providing this awesome package for calling functionality. I am facing issue related to videoView in iPhone. For android, it is covering whole space horizontally. But, for iOS, there is some horizontal space in video view. Please check screenshots attached:

Highlighted space issue with red mark for iOS:

<img width="299" alt="Screenshot 2020-09-02 at 2 29 56 PM" src="https://user-images

[2020-09-06 22:27] mukeshcliffex commented on #5
Hi, I am facing same issue.
In queue, status of message is sent but it is not delivered on phone

[2020-09-23 11:52] sagar-chhatrola commented on #19
Same thing happening for me. When I call other user through quickblox , other user side app got crashed.

[2020-10-08 21:52] midoalone commented on #15
Just edit the Podfile and change the platform version to be 10.0

`platform :ios, '10.0'`

[2020-10-20 13:39] marksantoso opened #22 "QB.chat.markMessageRead - Error: "dialogId" is required."
Trying to call:

`QB.chat.markMessageRead({messageId: message?.id, dialogId: message?.dialogId})`

and receiving Error: "dialogId" is required.

Can confirm both messageId and dialogId are set in the params, so its unclear why I am receiving this error.

Following instructions from: https://docs.quickblox.com/docs/react-native-chat-advanced

[2020-10-21 23:44] marksantoso commented on #22
Documentation is inaccurate.

Should be:

QB.chat
  .markMessageDelivered({message: { messageId, dialogId }})
  .then(function () { /* marked as "delivered" successfully */ })
  .catch(function (e) { /* handle error */ })

[2020-11-04 06:35] AquilSoft opened #23 "How to upload profile image for user"
How to upload user profile image in react native sdk

[2020-11-24 11:29] ArminShahamati opened #24 "how to avoid echo and noise in quickblox"
In many models of phone
when a video call connected a user hears his own voice echo

[2020-11-24 13:56] ArminShahamati commented on #24
I want to mute local video stream

[2020-11-26 16:49] hussnainghani opened #25 "Message received in wrong dialog on IOS"
Hello team Quickblox!

I'm facing one issue in Group Chat only for IOS on android working fine.

i have created group dialog and send message in that dialog but that message received in an other dialog not in that in which i sent message.

i use this code to send message:
[code]

message sent successfully and when message received in callback for new message received.
here's code for message recei

[2020-12-09 09:08] rmethaniya commented on #25
Hello, I am facing the same for public dialog and I have debug code and review documentation and found that they have change API parameter for API get dialogDetail. You can check bellow link for that

https://docs.quickblox.com/reference/chat#list-dialogs

For fix issue in iOS follow bellow step
**File Location** : node_modules/quickblox-react-native-sdk/ios/QBPlatformCore/QBCore/QBChat
**File** :

[2020-12-14 13:59] ayushjain1796 commented on #21
i am facing the similar issue, has this been solved by someone?

[2020-12-14 14:32] ayushjain1796 opened #26 "fullscreen video in landscape"
Has anyone make the changes for remote video to be in full screen and local video in small window in landscape mode.

For portrait mode my changes are working fine.

[2020-12-29 07:06] ayushjain1796 commented on #21
what i have found out, that the video in iphone are of resolution 640x480 and they are not zooming in to fit the aspect ration of the device like android, so if you want to fit the video you can manually change the height to "height*1.2" or other that fits your device screen

[2020-12-31 17:04] hussnainghani commented on #25
@rmethaniya thank for solution that work's for me.
but issue still exist in quickblox package.

[2021-01-04 08:53] ayushjain1796 opened #27 "how to implement react-native-callkeep"
have anyone implemented the react-native-callkeep with the quickblox sdk?

[2021-01-14 12:10] stephanoparaskeva opened #28 "Security Concern - API keys and Secret"
These keys are stored on the front end. So every client has access to the secret and keys, meaning they can use the API E.g:

[code]

How can one do this and configure without the client ever knowing the AppID,authKey, authSecret or API keys, can we hide some of these keys as this is potentially dangerous?

[2021-02-10 15:37] saumyadippramanik opened #29 "Message received in wrong date only in iOS"
I am getting wrong date ("dateSent": 2147483647000 => Tue Jan 19 2038 08:44:07 GMT+0530) in payload recieved from following functions:

[code]

**Received Payload:**
 {"body": "Hey there", "dateSent": 2147483647000, "delayed": false, "deliveredIds": [124026220], "dialogId": "6022ac7ca0eb47532e51b441", "id": "6023fcb22b727a9731df1bc3", "markable": true, "properties": {"date_sent": "2147483647", "di

[2021-02-16 22:50] stephanoparaskeva commented on #21
I am having this problem too, has anyone solved this?
Why is this happening?

[2021-02-16 22:53] stephanoparaskeva opened #30 "[Android] Call never ends when killing app (Critical)"
With Android, during a call, the call will not end if you terminate/kill the app.
This is because the JS Bridge is never closed even if you close app.

[2021-02-17 05:56] jpgarcia99 commented on #28
Have you tried storing them on the backend and fetching them after the user has authenticated with your server?

[2021-02-17 08:57] stephanoparaskeva commented on #28
Great solution, will close this now.

[2021-02-17 08:57] #28 closed, assigned to nobody

[2021-02-17 21:42] stephanoparaskeva commented on #21
How do you change resolution/height/width/fps in react native quickblox?

[2021-02-26 04:59] BertoGz commented on #30
i'm also experiencing this as well...

[2021-02-26 17:02] BertoGz commented on #30
its fixable if you simply add a component unmount function to call the Hangup method ( this will only work on android )

[2021-02-26 17:08] stephanoparaskeva commented on #30
Really that's just a workaround in the JS, the bug will still exist. The bug is a problem in the Native module where one of the tasks or processes doesn't  end or finish correctly.

Here is a response where a WebRTC expert explains this

https://github.com/react-native-webrtc/react-native-webrtc/issues/935#issuecomment-780596085

[2021-02-26 17:20] BertoGz commented on #30
hmm i'm not sure where he mentioned that its a bug. he did mention there has to be a ongoing process. so i suppose if you didn't end the call session I supposed that task will continue.

[2021-02-26 17:23] stephanoparaskeva commented on #30
@BertoGz

That’s a sensible assumption.

Can I add you on LinkedIn by any chance?

We both seem to be working with the same library and have had the same
issue, it might be useful to discuss further things. In the future

[2021-02-26 17:29] BertoGz commented on #30
sure!

[2021-02-26 17:31] stephanoparaskeva commented on #30
Keeping this open as I have used ConnectyCube and they successfully close the bridge/app and tasks when app is terminated not sure why quickblox doesn't.

[2021-04-22 13:19] nithiniLeaf opened #31 "DIALOGS_EDIT_SUCCESS not working while performing with removeUsers in Android"

[2021-04-22 13:38] nithiniLeaf opened #32 "Not working in Android release build"

[2021-04-23 13:01] nithiniLeaf opened #33 "yield call(QB.chat.updateDialog, update) not working with removeUsers in android..but working in IOS"
Versions:
"react-native": "0.63.3",
"quickblox-react-native-sdk": "^0.5.8-beta",

[2021-05-11 17:37] stephanoparaskeva opened #34 "QuickBlox Community Slack"
Here is the invite link:
https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

quickbloxcommunity.community.slack

@QB-vladyslav-vyshniak @dvjoness @alexparvus1 @vdovbnya-qb @IlliaChemolosov @Maryna-QA @stanislavmelnikov

[2021-05-11 17:42] stephanoparaskeva commented on #33
Hey please join Quickblox Community Slack:
https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

[2021-05-11 17:42] stephanoparaskeva commented on #29
Hey please join a Community made QuickBlox Slack so we can help each other on the QB platform:

https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

[2021-05-11 17:42] stephanoparaskeva commented on #27
Hey please join a Community made QuickBlox Slack so we can help each other on the QB platform:

https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

[2021-05-11 17:42] stephanoparaskeva commented on #25
Hey please join a Community made QuickBlox Slack so we can help each other on the QB platform:

https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

[2021-05-11 17:42] stephanoparaskeva commented on #24
Hey please join a Community made QuickBlox Slack so we can help each other on the QB platform:

https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

[2021-05-11 17:42] stephanoparaskeva commented on #23
Hey please join a Community made QuickBlox Slack so we can help each other on the QB platform:

https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

[2021-05-11 17:43] stephanoparaskeva commented on #22
Hey please join a Community made QuickBlox Slack so we can help each other on the QB platform:

https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

[2021-05-11 17:43] stephanoparaskeva commented on #21
Hey please join a Community made QuickBlox Slack so we can help each other on the QB platform:

https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

[2021-05-11 17:43] stephanoparaskeva commented on #19
Hey please join a Community made QuickBlox Slack so we can help each other on the QB platform:

https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

[2021-05-11 17:43] stephanoparaskeva commented on #17
Hey please join a Community made QuickBlox Slack so we can help each other on the QB platform:

https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

[2021-05-11 17:43] stephanoparaskeva commented on #16
Hey please join a Community made QuickBlox Slack so we can help each other on the QB platform:

https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

[2021-05-11 17:43] stephanoparaskeva commented on #15
Hey please join a Community made QuickBlox Slack so we can help each other on the QB platform:

https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

[2021-05-11 17:43] stephanoparaskeva commented on #14
Hey please join a Community made QuickBlox Slack so we can help each other on the QB platform:

https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

[2021-05-11 17:43] stephanoparaskeva commented on #13
Hey please join a Community made QuickBlox Slack so we can help each other on the QB platform:

https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

[2021-05-11 17:43] stephanoparaskeva commented on #12
Hey please join a Community made QuickBlox Slack so we can help each other on the QB platform:

https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

[2021-05-11 17:43] stephanoparaskeva commented on #9
Hey please join a Community made QuickBlox Slack so we can help each other on the QB platform:

https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

[2021-05-19 07:16] dodeja27 commented on #15
I'm also facing the same issue

[2021-05-26 12:55] mandhu commented on #15
platform :ios, '12.0'

[2021-06-17 20:28] GARINED opened #35 "Error: Can't load file from uriString when upload audio file Android"
Hi,

I hope someone can help me with my problem because I've been at it for 8 hours now and I can't find the solution.

So here I am creating a chat with voice messages with quickblox so I can record voice messages correctly which are stored locally on my device. I can upload them correctly to an ios device but as soon as I want to upload a voice from an android phone I get this error message:
![t

[2021-07-15 06:07] bobananto24 opened #36 "couldn't create dialog in ios"
I was trying to create a dialog using quickblox react-native-sdk. In ANDROID it worked perfectly fine, but in IOS(simulator) it is showing Error: Request failed: client error (422)

this is my code:
QB.chat
      .createDialog({
        type: QB.chat.DIALOG_TYPE.CHAT,
        occupantsIds: [127929951],
      })
      .then(function (dialog) {
        console.log(dialog);

      })
      .catch(fun

[2021-08-05 11:13] arnabadhikari2009 commented on #36
The same issue arises on my end ... Did anyone find any solution?

[2021-08-15 11:56] bhardwajMehul commented on #32
Have you found a solution for this issue?

[2021-08-18 13:57] ghost commented on #35
Hello Garine,

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant for you.

Make sure that you use the latest version of the QuickBlox React Native SDK:
https://github.com/QuickBlox/quickblox-react-native-sdk/releases/tag/0.5.13-beta

Also, please check our clear React Native sample where uploading functionality is implemented correctly: https://github.com/Q

[2021-08-18 13:59] ghost commented on #36
Hello Boban and Arnabad,

This is Nikolay from QuickBlox support.

Thank you for reporting the issue.

We will release a fix in the near future.

For now, to avoid this issue you can try not to pass the type when creating a dialog. The SDK should detect the dialog type based on the data provided.

You can follow our React Native developer here: [oleksandr-shvetsov-qb · GitHub](https://github.com/o

[2021-09-16 13:27] Rd1120 opened #37 "Unable to run project with version 0.64"

[2021-09-16 13:56] rimmid opened #38 "Unable to compile project on version 0.64.And unable to merge project another project also."
![Screenshot 2021-09-16 at 7 17 24 PM](https://user-images.githubusercontent.com/90849492/133625108-5cc825b7-3056-4e3a-be1f-b613c6bcd2b9.png)

[2021-09-21 19:51] samcomkishan commented on #5
@QB-vladyslav-vyshniak

Hello

I tried sending notification from quickblox admin panel as well but it didn't work, it just says, notification is sent but 0 delivered.

When I send the notification it gives below response
`{
  "active": true,
  "id": 987654321,
  "payload": {
    "data.message": "JTdCJTIydHlwZSUyMiUzQSUyMmNhbGwlMjIlMkMlMjJzZXNzaW9uJTIyJTNBJTdCJTIyb3Bwb25lbnRzSWRzJTIyJTNBJTVCMTI3NTA

[2021-09-21 19:55] bhattjaldhi commented on #5
@QB-vladyslav-vyshniak

Hello

1. I tried calling notification from Quickblox admin panel as well, it says notification has been "sent" but 0 delivered
Note that in react native app, notification is also subscribed, also firebase push notification from firebase console works well.

2. When I send notification from react-native I get below response

`{
  "active": true,
  "id": 37321597,
  "payload

[2021-09-22 11:08] bobananto24 opened #39 "how to attach gif in messages"
[code]
This is the code that I have used.

This is the error i got :
media send error: Error: Request failed: not found (404)
    at Object.promiseMethodWrapper [as upload] (NativeModules.js:104)
    at Object.upload (index.js:1370)
    at onMediaSen (VM19 ConversationScreen.bundle:853)
    at onMediaSend$ (VM19 ConversationScreen.bundle:783)
    at tryCatch (runtime.js:63)
    at Generator.invoke

[2021-09-23 06:16] mindrootstech opened #40 "How to change views in full screen like whatsapp? i want to create like them"

[2021-09-29 09:58] ghost commented on #40
Hello @mindrootstech ,

This is Nikolay from QuickBlox support.

Unfortunately, the query is not clear enough for us.
Please provide us with more detailed information about the workflow you want to achieve.

You may also attach a video or screenshots.

Thank you in advance.

[2021-09-29 12:38] ghost commented on #39
Hello Boban,

This is Nikolay from QuickBlox support.

It is allowed to upload any files using our SDK. Please let me know if you followed our documentation regarding the content module:
[https://docs.quickblox.com/docs/react-native-content](https://docs.quickblox.com/docs/react-native-content)

Also, you may check our React Native chat sample where you can upload .gif files:
[https://github.com/Q

[2021-10-06 11:37] ghost commented on #15
Hello,

This is Nikolay from QuickBlox support.

Please make sure that you followed these instructions on how to install the QuickBlox React Native SDK:
[https://docs.quickblox.com/docs/react-native-quick-start](https://docs.quickblox.com/docs/react-native-quick-start)

Also, please make sure that the iOS version in your project’s Podfile is not lower than 13.0 when installing SDK.

Additionally,

[2021-10-06 11:41] ghost commented on #16
@cloudtenlabs Hello,

This is Nikolay from QuickBlox support.

Unfortunately, this functionality has not been described in our React Native SDK.

You may refer to the iOS and Android documentation to write it natively:
[https://docs.quickblox.com/docs/ios-users#delete-user](https://docs.quickblox.com/docs/ios-users#delete-user)
[https://docs.quickblox.com/docs/android-users#delete-user](https://do

[2021-10-06 11:44] ghost commented on #22
@marksantoso Hello,

This is Nikolay from QuickBlox support.

Thank you for your feedback.

Please check our updated documentation and let us know if there are any questions:
[https://docs.quickblox.com/docs/react-native-video-calling](https://docs.quickblox.com/docs/react-native-video-calling)

[2021-10-06 11:46] QB-nikolay-zolotarov commented on #23
@AquilSoft Hello,

This is Nikolay from QuickBlox support.

Please review our documentation and let me know if you have any questions:
[https://docs.quickblox.com/docs/react-native-users#set-user-avatar](https://docs.quickblox.com/docs/react-native-users#set-user-avatar)

[2021-10-06 12:19] ghost commented on #7
@jpgarcia99 @HarshitPKing @russelRajitha Hello,

This is Nikolay from QuickBlox support.

The question is related to the implementation of push notifications.

Please refer to our documentation:
[https://docs.quickblox.com/docs/react-native-push-notifications](https://docs.quickblox.com/docs/react-native-push-notifications)

Also, you may use this guide to the configuring push notifications:
[http

[2021-10-06 12:20] ghost commented on #9
@russelRajitha
Hello,

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant.

If yes, please provide the information requested in the previous comment.

[2021-10-06 12:26] ghost commented on #33
@nithiniLeaf Hello,

This is Nikolay from QuickBlox support.

Please try upgrading the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-react-native-sdk/releases/tag/0.5.14-beta](https://github.com/QuickBlox/quickblox-react-native-sdk/releases/tag/0.5.14-beta)

If the issue persists, please provide me with the following points:
1. A detailed description of the issue.
2. Please pr

[2021-10-06 12:33] ghost commented on #32
Hello,

This is Nikolay from QuickBlox support.

Please make sure that you followed our documentation:
[https://docs.quickblox.com/docs/react-native-quick-start](https://docs.quickblox.com/docs/react-native-quick-start)

Please let us know if the issue is still relevant.
If yes, please provide us with the following points:
1. A detailed description of the issue.
2. Please provide full REST + XMPP

[2021-10-06 12:36] ghost commented on #31
@nithiniLeaf Hello,

This is Nikolay from QuickBlox support.

Please try upgrading the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-react-native-sdk/releases/tag/0.5.14-beta](https://github.com/QuickBlox/quickblox-react-native-sdk/releases/tag/0.5.14-beta)

If the issue persists, please provide me with the following points:
1. A detailed description of the issue.
2. Please pr

[2021-10-06 12:51] ghost commented on #30
@stephanoparaskeva Hello,

This is Nikolay from QuickBlox support.

According to my check, the answer was provided in a ticket.

Please find the answer below:
This is the expected behavior as ReactNative SDK doesn't have a logic with start/stop/pause/close/open of the application and if you need to finish the call you should stop the service instead of the application termination. The work of the

[2021-10-06 13:02] ghost commented on #19
Please refer to our documentation:
https://docs.quickblox.com/docs/react-native-push-notifications

Also, you may use this guide to the configuring push notifications:
https://help.quickblox.com/article/268-configuration-of-chat-and-video-push-notifications

Please keep in mind that managing and configuring push notifications in the background mode or killed state is not a part of QuickBlox SDK's

[2021-10-06 13:08] ghost commented on #21
@stephanoparaskeva @ayushjain1796 @bhoomika-sorathiya
Hello,

This is Nikolay from QuickBlox support.

Please proceed with the update to the latest stable React Native SDK version - 0.5.14-beta (URL: https://github.com/QuickBlox/quickblox-react-native-sdk/releases/tag/0.5.14-beta) where the reported bug is resolved and the calling functionality works as expected.

[2021-10-06 13:10] ghost commented on #26
@ayushjain1796 Hello,

This is Nikolay from QuickBlox support.

Please update the SDK to the latest version and let me know if the issue is resolved:
[https://github.com/QuickBlox/quickblox-react-native-sdk/releases/tag/0.5.14-beta](https://github.com/QuickBlox/quickblox-react-native-sdk/releases/tag/0.5.14-beta)

[2021-10-06 13:18] ghost commented on #13
@kasterlod Hello,

This is Nikolay from QuickBlox support.

Please let me know if the question is still relevant.

[2021-10-06 13:29] ghost commented on #27
@ayushjain1796 Hello,

This is Nikolay from QuickBlox support.

Please let me know if the question is still relevant.

[2021-10-06 13:43] ayushjain1796 commented on #40
hi @QB-nikolay-zolotarov , in my experience when you are on 1-1 call with someone quickblox uses 50-50 screen ration for both the persons on the call, and if I'm not wrong what @mindrootstech want's is something like that the remote peer takes up the 100% of the screen and the local peer takes the same box in bottom left or right corner

[2021-10-06 13:47] ghost commented on #24
@ArminShahamati Hello,

This is Nikolay from QuickBlox support.

Echos usually happen when a microphone driver doesn't support echo cancellation, when a microphone is too sensitive, speakers are turned on too loud, or interference from other electronic devices nearby.
Echoing can be avoided by wearing headphones.

Please make sure that the devices are in different locations. Also, please specify t

[2021-10-06 13:51] ayushjain1796 commented on #26
@QB-nikolay-zolotarov hi,

can you please confirm that the latest sdk support the video call functionality in landscape mode?

[2021-10-06 14:17] ghost commented on #25
@hussnainghani Hello,

This is Nikolay from QuickBlox support.

Please try updating the SDK and let me know if the issue is still relevant:
[https://github.com/QuickBlox/quickblox-react-native-sdk/releases/tag/0.5.14-beta](https://github.com/QuickBlox/quickblox-react-native-sdk/releases/tag/0.5.14-beta)

If yes, please provide me with the following points:
1. Steps to reproduce the issue.
2. Full

[2021-10-06 14:18] ghost commented on #40
@ayushjain1796 Hello,

Thank you for your reply.

Please let me know if you observe the same behavior with the latest version of our SDK:
[https://github.com/QuickBlox/quickblox-react-native-sdk/releases/tag/0.5.14-beta](https://github.com/QuickBlox/quickblox-react-native-sdk/releases/tag/0.5.14-beta)

[2021-10-06 14:22] ghost commented on #17
@amir-gorji Hello,

This is Nikolay from QuickBlox support.

Please let me know if you followed our documentation and if the issue is still relevant.
Here is a link to the documentation:
[https://docs.quickblox.com/docs/react-native-quick-start](https://docs.quickblox.com/docs/react-native-quick-start)

[2021-10-06 14:27] ghost commented on #29
@hussnainghani Hello,

This is Nikolay from QuickBlox support.

Please try updating the SDK and let me know if the issue is still relevant:
[https://github.com/QuickBlox/quickblox-react-native-sdk/releases/tag/0.5.14-beta](https://github.com/QuickBlox/quickblox-react-native-sdk/releases/tag/0.5.14-beta)

If yes, please provide me with the following points:
1. Steps to reproduce the issue.
2. Full

[2021-10-06 14:36] ghost commented on #12
@Gusakovskyi Hello,

This is Nikolay from QuickBlox support.

Please make sure that you followed our documentation and if you have a correct session:
[https://docs.quickblox.com/docs/react-native-authentication](https://docs.quickblox.com/docs/react-native-authentication)

Please let me know if the issue is still relevant.
If yes, please provide me with the following points:
1. Version of QuickBlo

[2021-10-07 09:58] ghost commented on #14
Hello @kimivn

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant and if you reviewed our documentation:
[https://docs.quickblox.com/docs/react-native-authentication](https://docs.quickblox.com/docs/react-native-authentication)

Also, please try using our React Native Chat sample:
[https://github.com/QuickBlox/quickblox-react-native-samples/tree/master/chat-

[2021-10-07 12:35] ghost commented on #26
@ayushjain1796
According to my check, some issues with resolution were be fixed in the latest SDK.

At this point, I can suggest updating the SDK so we can investigate issues with the latest version as some issues could be fixed.

[2021-10-19 08:41] ghost commented on #38
Hello @rimmid

This is Nikolay from QuickBlox support.

We released an update for our React Native Chat sample. Now it uses react-native 0.66.0.
Please use the latest code from the React Native chat sample repository.
Here is a link:

[https://github.com/QuickBlox/quickblox-react-native-samples/tree/master/chat-sample](https://github.com/QuickBlox/quickblox-react-native-samples/tree/master/chat-sa

[2021-10-19 08:41] ghost commented on #37
Hello

This is Nikolay from QuickBlox support.

We released an update for our React Native Chat sample. Now it uses react-native 0.66.0.
Please use the latest code from the React Native chat sample repository.
Here is a link:

[https://github.com/QuickBlox/quickblox-react-native-samples/tree/master/chat-sample](https://github.com/QuickBlox/quickblox-react-native-samples/tree/master/chat-sample)

P

[2021-10-22 07:13] rahulcs1989 opened #41 "How to remove 'The call service is ready' notification in android?"
In android I am getting notification like 'The call service is ready Quickblox'. I am not able to remove it. Appreciate any help :)

[2021-10-22 08:39] ghost commented on #41
Hello Rahul @rahulcs1989 ,

This is Nikolay from QuickBlox support.

According to [Google requirements](https://developer.android.com/guide/components/foreground-services), each foreground service must show a [status bar notification](https://developer.android.com/guide/topics/ui/notifiers/notifications). To hide the notification, you need to stop the service.

Please refer to the corresponding do

[2021-11-05 08:32] ashwanihundwani commented on #41
@QB-nikolay-zolotarov - While in audio call, I am also getting the same. Firstly, why are we using a foreground service in Quickblox Android SDK? Does WhatsApp or any other audio/video apps are also required to show some status bar notification in such cases?

[2021-11-08 13:30] ashwanihundwani commented on #41
Also, If i stop the service, will I receive the events like incoming calls? Is it possible to restrict the notification to appear only when call related events are happening like from "start of the call" to "end of the call"

[2021-11-08 14:17] ghost commented on #41
Hi @ashwanihundwani,
Using foreground service is Android requirement for services of certain categories, you can read more at [Android developer](https://developer.android.com/guide/components/foreground-services) portal.
At the moment if you want to enable calling functionality in QuickBlox React Native SDK - **webrtc** module should be initialized. This ensures that SDK is able to work with call

[2021-11-08 14:34] ashwanihundwani commented on #41
Thanks  @oleksandr-shvetsov-qb  So by this you mean your team is working to restrict notification to be shown between "start of the call" to "end of the call"? Just seeking confirmation from you.

Also, Is there a plan to expose public setters for title, message and app icon to be shown in status bar notification? As we are getting title "The call service is ready" and text at the bottom "Quickblo

[2021-11-08 14:49] ghost commented on #41
@ashwanihundwani
Yes, refactoring the call service is in our roadmap.
In order to change foreground service notification text you should set your values into `android/src/main/res/values/strings.xml`:
[code]
In order to change foreground service icons put your icons named `ic_call_service_large.png` and `ic_call_service_small.png` into `android/src/main/res/mipmap/` of your app.

[2021-11-09 11:12] ashwanihundwani opened #42 "iOS App Crashed while retrieving chat messages"
Quickblox iOS code is crashing while parsing some data:

**Code Snippet in which code crashed**
<img width="752" alt="Code Snippet" src="https://user-images.githubusercontent.com/13776844/140913181-71d2433f-3890-4921-adea-978fc25da55c.png">

**Crash log:**

<img width="690" alt="Quickbox crash log" src="https://user-images.githubusercontent.com/13776844/140914639-00f377e4-ec39-4b2c-9de6-d8c4973604

[2021-11-10 10:09] ghost commented on #42
@ashwanihundwani Hello,

This is Nikolay from QuickBlox support.

In order to investigate the issue, please provide us with more detailed information about the messages that cause the issue and steps to reproduce it. You may also send examples of attachments.

Additionally, we need the following points:
1. Version of QuickBlox React Native SDK.
2. Version of the platform (e.g. iOS 13)
3. Devices i

[2021-11-10 11:35] ashwanihundwani commented on #42
Below are the types of messages for which the app is crashing, here you can see the "attachments" key has value of type String. For the messages where "attachments" key has value of type Array the data is being parsed successfully. For some of the chat groups the app is crashing but for others the app is running fine. I believe, It is between your backend and iOS development team. Let me know what

[2021-11-11 10:29] ghost commented on #42
@ashwanihundwani Thank you,

I created an internal ticket and forwarded it to our developers.

They requested more detailed information:
1. Is the bug reproduced on the QuickBlox React Native Chat sample or on your application?
2. Please provide me with a log of messages you sent and a message log received before the crash.

[2021-11-19 03:17] proswe opened #43 "When are you going to release the stable version of quickblox-react-native-sdk"

[2021-11-19 09:55] habiiev opened #44 "Getting forbidden error when trying to join dialog"
When trying to call joinDialog on one of the dialogs, that the user is an occupant of, I am getting a `The operation couldn’t be completed. (forbidden error 403.)`.

My steps before trying to join:

Firstly I get the session from the BE and call

[code]

After that I call:

[code]

After it connects I get an event from chat event emitter that the user is connected to chat servers, at which point I

[2021-11-19 13:29] ghost commented on #44
Hello @habiiev,
Could you please provide more information?
On which platform this is happening (Android, iOS, both)?
What version of React Native SDK you are using?
What data is in the `session` variable from your example (`await QB.auth.setSession(session);`)?
Are you able to retrieve a list of dialogs using `QB.chat.getDialogs()`?

[2021-11-19 13:51] habiiev commented on #44
Hi @oleksandr-shvetsov-qb!
This is happening on iOS, haven't tested it on android yet, but I will be sure to tell you when I get to it
Versions:
[code]

Here is what I get from calling `await QB.auth.setSession(session);` (I redacted some info)

[code]

And yes, when calling `QB.chat.getDialogs()` everything is fine, it gives me the correct dialogs. The dialogs that I tried to connect to are there

[2021-11-19 15:44] ghost commented on #43
Hello @cloudtenlabs ,
We plan to release a stable version of the QuickBlox React Native SDK as soon as we add all the features from the native SDKs there.

[2021-11-19 17:33] ghost commented on #44
@habiiev
I wasn't able to reproduce the issue you described.
Could you please provide more details to identify where the problem is? e.g. logs from XCode, information about dialog from admin panel (the dialog you are trying join to)

[2021-11-23 19:47] habiiev commented on #44
@oleksandr-shvetsov-qb so I couldn't find any logs or any errors anywhere, so it's probably me doing something wrong.
Here is a basic repo with the same behaviour: https://github.com/habiiev/quickblox-forbidden-err-repro.
It just has a basic login page and it doesn't work correctly :(
I can log in on the server, set the session, connect to chat and then I get the error when I am trying to join a d

[2021-11-24 16:43] ghost commented on #44
@habiiev
Thanks for providing the repository with code sample to reproduce the issue. I managed to reproduce this problem, we will keep you informed about the solution to the problem.

[2021-12-07 14:19] ghost commented on #9
@russelRajitha The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:19] #9 closed, assigned to nobody

[2021-12-07 14:19] ghost commented on #12
@Gusakovskyi The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:19] #12 closed, assigned to nobody

[2021-12-07 14:19] ghost commented on #13
@kasterlod The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:19] #13 closed, assigned to nobody

[2021-12-07 14:20] ghost commented on #14
@kimivn The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:20] #14 closed, assigned to nobody

[2021-12-07 14:21] ghost commented on #17
@amir-gorji The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:21] #17 closed, assigned to nobody

[2021-12-07 14:21] ghost commented on #19
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:21] #19 closed, assigned to nobody

[2021-12-07 14:22] ghost commented on #24
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:22] #24 closed, assigned to nobody

[2021-12-07 14:22] ghost commented on #25
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:22] #25 closed, assigned to nobody

[2021-12-07 14:23] ghost commented on #27
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:23] #27 closed, assigned to nobody

[2021-12-07 14:23] ghost commented on #29
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:23] #29 closed, assigned to nobody

[2021-12-07 14:23] ghost commented on #31
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:23] #31 closed, assigned to nobody

[2021-12-07 14:23] ghost commented on #32
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:23] #32 closed, assigned to nobody

[2021-12-07 14:24] ghost commented on #33
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:24] #33 closed, assigned to nobody

[2021-12-14 08:46] habiiev commented on #44
@oleksandr-shvetsov-qb Hi! Any updates on this?

[2021-12-14 13:50] ghost commented on #44
Hello @habiiev,
Fix will be included in the next release of SDK planned on January 2022.

[2022-01-07 06:53] poliahrameshkumar commented on #35
@GARINED Did you find solution for this Audio upload issue? I am also facing the same issue. If you had resolved it, Please let me know the solution.

[2022-01-07 11:41] imransiddiqui511 opened #45 "could not build module 'QuickbloxWebRTC'"
fatal error: could not build module 'QuickbloxWebRTC'
#import <QuickbloxWebRTC/QuickbloxWebRTC.h>
[code]

[2022-01-10 09:17] poliahrameshkumar commented on #35
@QB-nikolay-zolotarov Can you provide solution on this as we are struck in this issue for a week. If it doesn't work, then we need to go for other providers as we need voice message functionality. Please confirm. Image attachment and video attachments are working. This problem is with Audio and PDF files.

[2022-01-10 10:19] ghost commented on #35
@poliahrameshkumar Hello, I have forwarded the request to our developers. Once there is any news, we will let you know.

[2022-01-13 14:26] ghost commented on #44
Hi @habiiev,
We have released new version of React Native SDK ([0.5.17-beta](https://github.com/QuickBlox/quickblox-react-native-sdk/releases/tag/0.5.17-beta)), signature of `QB.auth.setSession()` has changed a bit - no need to pass `expirationDate` any more.
Anyway, to solve the issue you were facing you should add call to `QB.settings.init()` before calling any other methods of QuickBlox React N

[2022-01-13 15:58] roldanunne commented on #41
You can create `android/src/main/res/values/strings.xml` and add the ff string value
    <string name="webrtc_call_service_notification_text"></string>
    <string name="webrtc_call_service_notification_title">MyApps service is ready</string>

[2022-02-02 10:11] ghost commented on #45
@imransiddiqui511 Hello,

This is Nikolay from QuickBlox support.

Please make sure that you followed our documentation:
https://docs.quickblox.com/docs/react-native-quick-start
https://docs.quickblox.com/docs/react-native-setup

Also, please try using our samples:
https://github.com/QuickBlox/quickblox-react-native-samples/tree/master/webrtc-sample

[2022-02-10 11:14] ghost commented on #35
@GARINED @poliahrameshkumar Please check the attached archive with a sample code with the possibility to send any files as chat message attachments. As we have checked, it works with .pdf, .mp3
[quickblox-react-native-chat-sample.zip](https://github.com/QuickBlox/quickblox-react-native-sdk/files/8040476/quickblox-react-native-chat-sample.zip)
.

[2022-02-13 16:41] threeng0227 opened #46 "Error: The call service is not connected"
Error: The call service is not connected when making a call on Android.

[2022-02-14 14:30] ghost commented on #46
Hello @nhoxx

This is Nikolay from QuickBlox support.

According to the error message, WebRTC was not initialized.

Please initialize WebRTC according to our documentation:
https://docs.quickblox.com/docs/react-native-video-calling#initialize-webrtc

Also, you may use our video calling sample where this functionality is implemented correctly:
https://github.com/QuickBlox/quickblox-react-native-sam

[2022-02-16 17:04] joytomchin opened #47 "How to delete a message from chat?"
How to delete a message from chat?

[2022-02-16 17:07] ghost commented on #47
@joytomchin Unfortunately, the functionality of deleting messages is not described in our React Native SDK.

According to our developers, It is planned for development. However, there is no ETA.

You may refer to the iOS and Android documentation to write it natively:
https://docs.quickblox.com/docs/android-chat-messaging#delete-message
https://docs.quickblox.com/docs/ios-chat-messaging#delete-mes

[2022-03-01 08:44] joytomchin opened #48 "Getting error on file attachments in message on iOS simulator"
Code:

[code]

url path:

[code]

Error:

[code]

[2022-03-02 10:54] ghost commented on #48
@joytomchin Hello,

This is Nikolay from QuickBlox support.

In order to investigate the issue, we need the following points:
1. Please specify the file size. You may also attach that file.
2. Please let us know if the issue can be reproduced on the latest version of the QuickBlox React Native SDK:
https://github.com/QuickBlox/quickblox-react-native-sdk/releases/tag/0.5.18-beta
3. Is this issue in

[2022-03-02 15:24] vikrampunchh commented on #48
The file size is less than 1 MB and using 0.5.18-beta version

I'm getting this error every time.

[2022-03-02 15:26] joytomchin commented on #48
The file size is less than 1 MB and using 0.5.18-beta version

I'm getting this error every time.

[2022-03-02 16:01] ghost commented on #48
@joytomchin Please provide me with the rest points so we can investigate the issue.

[2022-03-02 16:05] joytomchin opened #49 "attempt to invoke virtual method 'boolean java.lang.string.equals"
attempt to invoke virtual method 'boolean java.lang.string.equals

[2022-03-02 16:42] ghost commented on #49
@joytomchin Hello,

This is Nikolay from QuickBlox support.

Please provide us with more detailed information about the issue and step-by-step instructions on how to reproduce it on our end.

Also, please provide full logs. You can find out how to gather logs here: [Gathering logs guides - QuickBlox Help Center](https://help.quickblox.com/article/368-how-can-i-enable-quickblox-logs)

[2022-03-02 17:15] ghost commented on #48
Also, please try using the modified sample attached
[quickblox-react-native-chat-sample.zip](https://github.com/QuickBlox/quickblox-react-native-sdk/files/8171574/quickblox-react-native-chat-sample.zip)

[2022-03-03 10:40] joytomchin commented on #49
<img width="406" alt="Screenshot 2022-03-03 at 4 08 39 PM" src="https://user-images.githubusercontent.com/79104219/156548493-0120b0eb-3def-402d-b7d9-4045faf3e9fa.png">

[2022-03-11 09:37] ghost commented on #49
To investigate the issue, I need more detailed information like full logs, a description, steps to reproduce. Please provide me with that so I can help you.

[2022-03-14 12:11] bobananto24 opened #50 "Getting different reponses in different platforms"
Not getting "updated_at" value in success response of QB.chat.getDialogMessages() in IOS
**Response in Android**: properties: {all_read: 'true', updated_at: '2022-03-14T11:36:22Z', customParam1: 'null', read: '1'}
**Response in IOS**: properties: {customParam1: 'null', read: 1, all_read: true}
Thank in advance

[2022-03-16 09:55] ghost commented on #50
@bobananto24 Hello,

This is Nikolay from QuickBlox support.

We are aware of this inconsistency. Our developers are working on it. However, it will take more time.

Please check this page for updates:
https://help.quickblox.com/article/250-the-latest-version-of-quickblox-react-native-sdk

[2022-05-16 13:29] ubaid-wp opened #51 "getting error in creating dialog"
I am trying to create a dialog  but it is showing Error :  [Error: "base" Forbidden. Need user.
]
  const createDialogParams = {
        type: QB.chat.DIALOG_TYPE.CHAT,
        occupantsIds: [134752411]
    }

    QB.chat
        .createDialog(createDialogParams)
        .then(function (dialog) {
            console.log('dialog======', dialog)
        })
        .catch(function (e) {
            c

[2022-05-18 09:39] ghost commented on #51
@ubaid-wp Hello, this is Nikolay from QuickBlox support. You need to log in before creating a dialog:
https://docs.quickblox.com/docs/react-native-authentication#log-in-user

[2022-06-09 18:39] jzafar opened #52 "new NativeEventEmitter() warning"
I am using NativeEventEmiter to receive new message But i am getting waring on Android
`new NativeEventEmitter()` was called with a non-null argument without the required `removeListeners` method.
Here is my code

useEffect(() => {
    var emitter = new NativeEventEmitter(QB.chat);
    emitter.addListener(
      QB.chat.EVENT_TYPE.RECEIVED_NEW_MESSAGE,
      receivedNewMessage,
    );
    return (

[2022-06-16 10:44] ghost commented on #52
Hello @jzafar, this is Nikolay from QuickBlox support.
To investigate the issue further, please provide the following points:
1. The QuickBlox React Native SDK version.
2. Is this issue intermittent or permanent?
3. Please provide step-by-step instructions on how to reproduce the issue on our end.
4. Did you get this issue in your code or on samples?
5. Please try reproducing the issue on our samp

[2022-06-16 19:00] jzafar commented on #52
Hi Nikolay here is more information
1. "quickblox-react-native-sdk": "^0.6.0-beta"
2. It's permanent issue
3. I have added this listener in my custom class and i have written code above what i am doing. when app load this class i got this warning.
4. In my own code
5.  I can't build chat-sample app with this version "quickblox-react-native-sdk": "^0.5.14-beta", But when i try with "quickblox-react

[2022-06-20 08:08] ardhendu12345 opened #53 "how to handel QB.chat.sendIsTyping properly to show user sender is typing"
const isTypingParams = { dialogId: dialogId };

QB.chat
  .sendIsTyping(isTypingParams)
  .then(function () {
    /* sent successfully */
    console.log("user is typing");
  })
  .catch(function (e) {
    /* handle error */
    console.log("user is typing error", e);
  });
Please help ...new to react-native

[2022-06-23 09:37] ghost commented on #53
@ardhendu12345 Hello, this is Nikolay from QuickBlox support.
At this point I can suggest checking our sample where this functionality is implemented correctly:
https://github.com/QuickBlox/quickblox-react-native-samples/tree/master/chat-sample

[2022-06-28 14:52] erennyuksell commented on #30
@stephanoparaskeva i have a same problem did you solve it? Listening to the destruction of the application and close the connection maybe solve problem. Which navigation library are you using?

[2022-08-18 12:05] 5695mp opened #54 "Not receive proper senderID in react- native"
**I have all step follow by provided QuickBlox chat integration in react native.**

1 Initialise QuickBlox SDK - > Done
2 Authorise user ->   - this user through i have login 135550835
3 Send message -> this user 135550841

4 Once i have get message then i have not proper senderId get.
{"body": "666888333", "dateSent": 1660823473000, "delayed": false, "deliveredIds": [Array], "dialogId": "62fc66bf

[2022-08-18 12:34] ghost commented on #54
@Mianpatel Hello, please check if the issue can be reproduced on the sample:
https://github.com/QuickBlox/quickblox-react-native-samples/tree/master/chat-sample

[2022-08-18 15:54] 5695mp commented on #54
On Thu, 18 Aug 2022 at 6:04 PM, QB-nikolay-zolotarov <
***@***.***> wrote:

Yes, also get this error in provide simple project also

[2022-08-18 16:03] ghost commented on #54
@Mianpatel Thank you, so it will be easier for us to investigate it.

As we have not encountered a similar error, please provide us with the following points:
1. Step-by-step instructions on how to reproduce the issue on our end.
2. Is this issue intermittent or permanent?
3. Please provide us with full REST + XMPP logs as an attachment in .txt format. There should be QB SDKs logs from application

[2022-08-19 03:05] 5695mp commented on #54
Here is All step in simple Project.

1 If you are code through login then get this error. in your project login
form but you are try the manually login then get error.
2 I have used this version for quickblox sdk : - quickblox-react-native-sdk
"^0.6.0-beta".
3 React Native Version : - 0.68.2.
4 You can try this code first through login and then all step are follow
then wrong id display for senderI

[2022-08-24 08:49] hiren-devstree opened #55 "Getting [Error: base Forbidden. Need user.] when try to get ChatHistory QB.chat.getDialogMessages"
**"react-native": "0.68.1",
"quickblox-react-native-sdk": "^0.6.0-beta",**

[code]

[code]

`[Error: base Forbidden. Need user.]
 ERROR  The above error occurred in task getChatHistory
    created by takeLatest(GET_CHAT_HISTORY, getChatHistory)
    created by root
Tasks cancelled due to error:
takeLatest(GET_CHAT_HISTORY, getChatHistory)`

[2022-08-31 12:48] ghost commented on #55
Hello, please make sure that you created a user session before retrieving messages.

[2022-08-31 13:31] ghost commented on #54
please clarify if you get the wrong senderID 135550835.
Please provide full logs in a separate file

[2022-09-01 10:14] TunvirRahman opened #56 "Incoming call not starting on iOS"
On iOS, incoming call not accepting [created from vue application].

Calling initiated from vue app working well on android but failing on iOS with the following error

com.apple.CallKit.error.requesttransaction Code=5

Note: Android/iOS to iOS calling working good.

[code]
Any one having the same issue?

[2022-09-01 11:37] TunvirRahman commented on #56
Solved : Problem was in the Vue application. Aligned both RN and web same version of QB and all working good.

[2022-09-06 13:47] hrajaei76 opened #57 "[Android] Crash on Start."
### I Got an error when App start on the device (Emulator is cool)

message: java.lang.RuntimeException: applicationId is null. You must call QBSettings.getInstance().init(Context, String, String, String) before using the QuickBlox library.

**Initia Codel**

    QB.settings
      .init(config)
      .then(async () => {
        await QB.settings.enableAutoReconnect({ enable: true });
        resol

[2022-09-19 22:46] BertoGz opened #58 "how to create a application session client side?"
After calling QB.settings.init, Quickblox Docs say I should then create an application session. So far I have yet to see where to do this client side.
is this a client side feature? serverSide sdk does cover this.

authentication section of react-native-sdk:
https://docs.quickblox.com/docs/react-native-authentication

[2022-10-27 08:50] Veeru5c4 opened #59 "Quickblox probably resets the notification duration counter when reconnecting an active call session"
Observations:

Initiate and connect an audio/video call with mobile user.

Observe the call duration after call is established in the notication.

Navigate the call UI to anther component screen and go to background mode

Click on the background call notification icon to get back to the call ui.

Observe the call duration

Call duration value is reset  , please help me this issue

[2022-11-16 14:38] foobarsik commented on #52
Had the same issue. I think it's due latest react-native versions. We use 0.69.7 react-native version in our project. This worked for me:

[code]